apiVersion: apps/v1
kind: Deployment
metadata:
  name: skill-repeater-front
  namespace: skill-repeater
  labels:
    app: skill-repeater-front
spec:
  replicas: 1
  selector:
    matchLabels:
      app: skill-repeater-front
  template:
    metadata:
      labels:
        app: skill-repeater-front
    spec:
      imagePullSecrets:
        - name: dockerhub-registry-secret
      containers:
      - name: skill-repeater-front
        image: ${DOCKERHUB_USERNAME}/skill-repeater-front:${IMAGE_VERSION}
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
        env:
        - name: NODE_ENV
          value: "production"
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
        livenessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 30
          periodSeconds: 30
        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 10
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: skill-repeater-front
  namespace: skill-repeater
  labels:
    app: skill-repeater-front
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
  selector:
    app: skill-repeater-front 
